<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="libUser">
            <h2><span jhiTranslate="libraryApp.libUser.detail.title">Lib User</span> {{libUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.libUser.username">Username</span></dt>
                <dd>
                    <span>{{libUser.username}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.libUser.firstName">First Name</span></dt>
                <dd>
                    <span>{{libUser.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.libUser.lastName">Last Name</span></dt>
                <dd>
                    <span>{{libUser.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.libUser.email">Email</span></dt>
                <dd>
                    <span>{{libUser.email}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.libUser.rentingList">Renting List</span></dt>
                <dd>
                    <div *ngIf="libUser.rentingList">
                        <a [routerLink]="['/renting-list', libUser.rentingList?.id, 'view']">{{libUser.rentingList?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="libraryApp.libUser.libraryAccount">Library Account</span></dt>
                <dd>
                    <div *ngIf="libUser.libraryAccount">
                        <a [routerLink]="['/library-account', libUser.libraryAccount?.id, 'view']">{{libUser.libraryAccount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lib-user', libUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
