<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryApp.libUser.home.title">Lib Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lib-user" [routerLink]="['/lib-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryApp.libUser.home.createLabel">
            Create a new Lib User
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="libUsers?.length === 0">
        <span jhiTranslate="libraryApp.libUser.home.notFound">No libUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="libUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.username">Username</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.firstName">First Name</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.lastName">Last Name</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.email">Email</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.rentingList">Renting List</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.libUser.libraryAccount">Library Account</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let libUser of libUsers ;trackBy: trackId">
                <td><a [routerLink]="['/lib-user', libUser.id, 'view' ]">{{libUser.id}}</a></td>
                <td>{{libUser.username}}</td>
                <td>{{libUser.firstName}}</td>
                <td>{{libUser.lastName}}</td>
                <td>{{libUser.email}}</td>
                <td>
                    <div *ngIf="libUser.rentingList">
                        <a [routerLink]="['/renting-list', libUser.rentingList?.id, 'view' ]" >{{libUser.rentingList?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="libUser.libraryAccount">
                        <a [routerLink]="['/library-account', libUser.libraryAccount?.id, 'view' ]" >{{libUser.libraryAccount?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lib-user', libUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lib-user', libUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(libUser)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
