<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-book-heading" jhiTranslate="libraryApp.book.home.createOrEditLabel">Create or edit a Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.isbn" for="field_isbn">Isbn</label>
                    <input type="text" class="form-control" name="isbn" id="field_isbn"
                           formControlName="isbn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.authorToken" for="field_authorToken">Author Token</label>
                    <input type="text" class="form-control" name="authorToken" id="field_authorToken"
                           formControlName="authorToken"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.genre" for="field_genre">Genre</label>
                    <select class="form-control" name="genre" formControlName="genre" id="field_genre">
                        <option value="SCIENCE">{{'libraryApp.Genre.SCIENCE' | translate}}</option>
                        <option value="FANTASY">{{'libraryApp.Genre.FANTASY' | translate}}</option>
                        <option value="THRILLER">{{'libraryApp.Genre.THRILLER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.year" for="field_year">Year</label>
                    <input type="text" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.rented" for="field_rented">Rented</label>
                    <input type="checkbox" class="form-control" name="rented" id="field_rented"
                           formControlName="rented"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="libraryApp.book.author" for="field_authors">Author</label>
                    <select class="form-control" id="field_authors" multiple name="authors" formControlName="authors">
                        <option [ngValue]="getSelected(editForm.get('authors')!.value, authorOption)" *ngFor="let authorOption of authors; trackBy: trackById">{{authorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.libraryAccount" for="field_libraryAccount">Library Account</label>
                    <select class="form-control" id="field_libraryAccount" name="libraryAccount" formControlName="libraryAccount">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="libraryAccountOption.id === editForm.get('libraryAccount')!.value?.id ? editForm.get('libraryAccount')!.value : libraryAccountOption" *ngFor="let libraryAccountOption of libraryaccounts; trackBy: trackById">{{libraryAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="libraryApp.book.rentingList" for="field_rentingList">Renting List</label>
                    <select class="form-control" id="field_rentingList" name="rentingList" formControlName="rentingList">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rentingListOption.id === editForm.get('rentingList')!.value?.id ? editForm.get('rentingList')!.value : rentingListOption" *ngFor="let rentingListOption of rentinglists; trackBy: trackById">{{rentingListOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
