<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryApp.book.home.title">Books</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book" [routerLink]="['/book/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryApp.book.home.createLabel">
            Create a new Book
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="books?.length === 0">
        <span jhiTranslate="libraryApp.book.home.notFound">No books found</span>
    </div>
    <div class="table-responsive" *ngIf="books?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.title">Title</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.isbn">Isbn</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.authorToken">Author Token</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.genre">Genre</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.year">Year</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.rented">Rented</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.author">Author</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.libraryAccount">Library Account</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.book.rentingList">Renting List</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of books ;trackBy: trackId">
                <td><a [routerLink]="['/book', book.id, 'view' ]">{{book.id}}</a></td>
                <td>{{book.title}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.authorToken}}</td>
                <td jhiTranslate="{{'libraryApp.Genre.' + book.genre}}">{{book.genre}}</td>
                <td>{{book.year}}</td>
                <td>{{book.rented}}</td>
                <td>
                    <span *ngFor="let author of book.authors; let last = last">
                            <a class="form-control-static" [routerLink]="['/author', author?.id, 'view' ]">{{author.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="book.libraryAccount">
                        <a [routerLink]="['/library-account', book.libraryAccount?.id, 'view' ]" >{{book.libraryAccount?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="book.rentingList">
                        <a [routerLink]="['/renting-list', book.rentingList?.id, 'view' ]" >{{book.rentingList?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/book', book.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/book', book.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(book)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
