<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rentingList">
            <h2><span jhiTranslate="libraryApp.rentingList.detail.title">Renting List</span> {{rentingList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.rentingList.title">Title</span></dt>
                <dd>
                    <span>{{rentingList.title}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.rentingList.description">Description</span></dt>
                <dd>
                    <span>{{rentingList.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/renting-list', rentingList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
