<div>
    <h2 id="page-heading">
        <span jhiTranslate="libraryApp.author.home.title">Authors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-author" [routerLink]="['/author/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="libraryApp.author.home.createLabel">
            Create a new Author
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="authors?.length === 0">
        <span jhiTranslate="libraryApp.author.home.notFound">No authors found</span>
    </div>
    <div class="table-responsive" *ngIf="authors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.author.authorToken">Author Token</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.author.firstName">First Name</span></th>
            <th scope="col" ><span jhiTranslate="libraryApp.author.lastName">Last Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let author of authors ;trackBy: trackId">
                <td><a [routerLink]="['/author', author.id, 'view' ]">{{author.id}}</a></td>
                <td>{{author.authorToken}}</td>
                <td>{{author.firstName}}</td>
                <td>{{author.lastName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/author', author.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/author', author.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(author)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
