<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="author">
            <h2><span jhiTranslate="libraryApp.author.detail.title">Author</span> {{author.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.author.authorToken">Author Token</span></dt>
                <dd>
                    <span>{{author.authorToken}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.author.firstName">First Name</span></dt>
                <dd>
                    <span>{{author.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.author.lastName">Last Name</span></dt>
                <dd>
                    <span>{{author.lastName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/author', author.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
